.App {
  text-align: center;
}
.row {
  margin: 10px;
  padding: 5px;
  display: inline-flex;
}
.col {
  margin: 10px;
  padding: 5px;
  text-align: center;
}
/* -----------------------------box ----------------- */
.blocks {
  margin: 20px;
}
/* ---------------------------------------------------------- */
.inputcontainer {
  margin: 10px;
  padding:14px 14px 10px 10px;
  text-align: center;
  background-color: rgb(201, 233, 253);
  border-radius: 12px;
  width: "50%";
}
input {
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}
